[buildout]
newest=false
extensions=gp.vcsdevelop
develop=.
vcs-extend-develop=
    hg+https://hg.afpy.org/afpy.ldap/@tip#egg=afpy.ldap
    svn+https://svn.afpy.org/misc/afpy.wsgi/trunk#egg=afpy.wsgi
    svn+https://svn.afpy.org/misc/afpy.core#egg=afpy.core
    svn+https://svn.afpy.org/misc/afpy.mail#egg=afpy.mail
parts=app
versions=versions

[versions]
Pylons=0.9.7

[app]
recipe = zc.recipe.egg
eggs=
    afpy.wsgi
    afpy.core
    iw.email>=1.4
    afpy.mail
    afpy.ldap
    Babel
    SQLAlchemy
    FormAlchemy>=1.2.1
    PasteDeploy>=1.3.3
    Pylons
    AfpyMembers
    PasteScript
    repoze.who-friendlyform
    repoze.what.plugins.ini
    repoze.what-pylons
    ipython
    nose
    zope.component
interpreter = python
scripts =
    paster=paster
    ipython=ipython
    nosetests=nosetests
    relance_payments=relance_payments
